<ion-header>
    <ion-toolbar>

        <!-- Menu principal -->
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>

        <ion-title>Sobre</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <h2>Flores</h2>
    <p>Flor é a estrutura reprodutora característica das plantas angiospérmicas. Sua função é produzir sementes através da reprodução sexuada. Para as plantas, as sementes representam o embrião que irá germinar quando entrar em contato com um substrato propício; as sementes são o principal meio através do qual as espécies de espermatófitas se perpetuam e se propagam.</p>

    <h3>Oque Aprendemos com as Flores?</h3>
    <p>Aprendemos com as flores que é preciso se deixar desabrochar. Mas é preciso calma, pois tudo acontece no tempo certo. Todo processo tem suas fases, e nenhum aprimoramento acontece do dia pra noite. É preciso germinar, crescer e se fortalecer para finalmente florescer.</p>

    <h4>Criador desse Site.</h4>
    <p>Luana Caroline Maciel Leite</p>
</ion-content>